<h3>查询学生信息</h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>学号</th>
			<th>姓名</th>
			<th>性别</th>
			<th>专业</th>
			<th>出生时间</th>
			<th>总学分</th>
			<th>详细信息</th>
			<th>操作</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody id="info">

	</tbody>
</table>

<script>
	$(document).ready(
			function() {
				$.get("/listStudent", function(data, status) {
					if (status == "success") {
						for (var i = 0; i < data.length; i++) {
							var gender = "男";
							if (data[i].xb == false) {
								gender = "女";
							}
							var html = "<tr><td>" + data[i].xh + "</td><td>"
									+ data[i].xm + "</td><td>" + gender
									+ "</td><td>" + data[i].zym + "</td><td>"
									+ data[i].cssj + "</td><td>" + data[i].zxf
									+ "</td><td></td><td></td><td><a href=/deleteStudentByXh?xh="+ data[i].xh +">删除</a></td></tr>";
							$("#info").append(html);
						}
					}
				});
			});
</script>
