<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>学生成绩管理系统</title>
<!-- Bootstrap Styles-->
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

</head>
<body>

	<div class="container">

		<div class="row">
				<div class="text-center">
					<div class="page-header">
						<h2>学生成绩管理系统</h2>
					</div>
				</div>
		</div>


		<div class="row">

			<div class="col-md-2 col-md-offset-1">
				<div th:include="left :: left"></div>
			</div>


			<div class="col-md-8">
				<h3>查询学生信息</h3>
				<div class="row">
					<div class="col-md-offset-10 col-md-2">
						<input class="form-control input-sm" type="text" id="pageSize"
							placeholder="每页显示几条"> <input type="hidden" id="pageNum">
					</div>
				</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>学号</th>
							<th>姓名</th>
							<th>性别</th>
							<th>专业</th>
							<th>出生时间</th>
							<th>总学分</th>
							<th>详细信息</th>
							<th>操作</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="info">

					</tbody>
				</table>
				<p id="pageInfo"></p>

				<div class="row">
					<div class="col-md-12">
						<div class="text-center">
							<nav aria-label="Page navigation">
								<ul class="pagination" id="nav">

								</ul>
							</nav>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>


	<!-- jQuery Js -->
	<script th:src="@{/jquery.min.js}"></script>
	<!-- Bootstrap JS -->
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script>
		function getInfo() {
			// 取页数
			var pageNum = $("#pageNum").val();
			// 取每页的数量
			var pageSize = $("#pageSize").val();
			// 拼接url
			var url = "/listStudentWithPagingAndNav?pageNum=" + pageNum + "&pageSize=" + pageSize;
			// 提交请求
			$.get(url, function(data, status) {
				if (status == "success") {
					// 先清空内容
					$("#pageInfo").empty();
					// 添加页面信息，用<p>显示
					$("#pageInfo").html("当前第" + data.pageNum + "页.共" + data.pages + "页." + data.total + "条记录");
					
					// 先清空内容
					$("#nav").empty();
					// 添加首页导航
					$("#nav").append("<li><a href=javascript:void(0) aria-label=Previous onclick=changePageNum(" + data.navigateFirstPage +")> " + "<span aria-hidden=true>&laquo;</span>" + "</a></li>");
					// 按后台取到的总页数，循环添加导航
					for (var i = 1; i <= data.pages; i++) {
						$("#nav").append("<li><a href=javascript:void(0) onclick=changePageNum($(this).html())>" + i + "</a></li>");
					}
					// 添加尾页导航
					$("#nav").append("<li><a href=javascript:void(0) aria-label=Next onclick=changePageNum(" + data.navigateLastPage +")> " + "<span aria-hidden=true>&raquo;</span>" + "</a></li>");
					
					// 先清空表体
					$("#info").empty();	
					for (var i = 0; i < data.list.length; i++) {
						 var gender = "男";
						if (data.list[i].xb == false) {
							gender = "女";
						}
						var html = "<tr><td>" + data.list[i].xh
								+ "</td><td>" + data.list[i].xm
								+ "</td><td>" + gender + "</td><td>"
								+ data.list[i].zym + "</td><td>"
								+ data.list[i].cssj + "</td><td id=zxf" + data.list[i].xh + ">"
								+ data.list[i].zxf + " <a href=javascript:void(0) onclick=updateZxf(" + data.list[i].xh + ")>(更新)</a>" + "</td><td><a href=/xsDetails?xh=" + data.list[i].xh + ">查看</a></td><td><a href=/toUpdateXs?xh=" + data.list[i].xh + ">更新</a></td><td><a href=/deleteStudentByXh?xh=" + data.list[i].xh + ">删除</a></td></tr>";
						$("#info").append(html);
					}
				}
			});
		}
		
		// 取点击的a标签的值，给到隐藏域input的pageNum，然后请求数据
		function changePageNum(a) {
			$("#pageNum").val(a);
			getInfo();
		}
		
		// 更新总学分的请求方法
		function updateZxf(xh){
			var url = "/updateZxfByXh?xh=" + xh;
			$.get(url, function(data, status) {
				if (status == "success") {
					var id = "#zxf"+xh;
					var html = data + " <a href=javascript:void(0) onclick=updateZxf(" + xh + ")>(更新)</a>";
					$(id).html(html);
				}
			});
		}

		$(document).ready(function() {
			getInfo();
			$("#pageSize").on("input", function() {
				// 更新后重定向到第一页，然后请求数据
				$("#pageNum").val(1);
				getInfo();
			});
		});
	</script>
</body>
</html>